body {
	font-family: sans-serif;
}

a {
	background:transparent;
}

.alert {
	color:white;
}

.boutton  {
	color: white;
	display: inline-block;
	height: 37px;
	padding: 0 24px;
	font-family: Lato,sans-serif;
	font-size: 10px;
	font-size: .71429rem;
	font-weight: 400;
	line-height: 37px;
	letter-spacing: .2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color:#b30047;
	border: 1px solid #ccc;
	    border-top-color: rgb(204, 204, 204);
	    border-right-color: rgb(204, 204, 204);
	    border-bottom-color: rgb(204, 204, 204);
	    border-left-color: rgb(204, 204, 204);
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	transition: .3s cubic-bezier(.25,.46,.45,.94);
}

.boutton2 {
	display: inline-block;
	height: 37px;
	padding: 0 24px;
	font-family: Lato,sans-serif;
	font-size: 10px;
	font-size: .71429rem;
	font-weight: 400;
	line-height: 37px;
	letter-spacing: .2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #2b2f3e;
	border: 1px solid #ccc;
	    border-top-color: rgb(204, 204, 204);
	    border-right-color: rgb(204, 204, 204);
	    border-bottom-color: rgb(204, 204, 204);
	    border-left-color: rgb(204, 204, 204);
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	transition: .3s cubic-bezier(.25,.46,.45,.94);
}
.button {
	padding:5px;
	text-align:right;
}

.black_line {
	margin: 0px 180px 0px 180px;
	justify-content:space-between;
	padding:8px;
	text-align:right;
	background-color:black;
}

.logo_reseaux_sociaux {
	text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 700;
    text-decoration: none;
	color:white;
}

.text_black_line {
	font-size:12px;
	font-family: sans-serif;
	text-transform: uppercase;
	letter-spacing:2px;
    font-weight: 700;
    text-decoration: none;
    color: #f2f2f2;
}

.img_haut_de_page {
	text-align:center;
}

.urban-comics-logo {
	padding:30px;
	width:250px;
}

.black_line_2 {
	padding:11px;
	text-align:center;
	background-color:#161616;
}
.text_black_line_2 {
    text-decoration: none;
	font-family: sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	color: #f2f2f2;
}

.img1 {
	position:absolute;
	margin-left:-380px;
	height:601px;
	width:500px;
	display:flex;
}

.img2 {
	background-size:cover;
	background-position:center;
	position:absolute;clip:rect(105px,384px,400px,0px);
    margin-left:769px;
    margin-top:-105px;

}

.img3 {
	position:absolute;clip:rect(108px,361px,400px,0px);
    margin-left:1160px;
    margin-top:-108px;
}

.img4 {
	position:absolute;clip:rect(97px,385px,450px,0px);
    margin-left:769px;
    margin-top:203px;
}

.img5 {
	position:absolute;clip:rect(97px,360px,400px,0px);
    margin-left:1160px;
    margin-top:201px;
}